h1{
    color: rgb(47, 4, 66);
    background-color: rgb(68, 107, 9);

    font-size: 2rem;
    font-weight: lighter;
    font-style:oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font:larger;
}