body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #f8f8f8;
    box-shadow: 0 0.2rem 0.5rem rgba(10, 9, 9, 0.1);
}

#logo-title-container {
    display: flex;
    align-items: center;
}

#menu-logo {
    height: 5rem;
    width: auto;
}

#site-title {
    margin: 0;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}
#menu-right {
    display: flex;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#input-container {
    padding-top: 2rem;
}
#output-container {
    padding-top: 2rem;
    padding-right: 7rem;
}
#convert-button {
    width: 7rem;
    font-size: 1.5rem;
}
#input-container input,
#output-container input {
    width: 30rem;
    font-size: 1.5rem;
}


.link {
    color: #7e7d7d;
    font-size: 1.5rem;
    text-decoration: none;
}

.link:hover {
    color: #0b0b0b;
    text-decoration: underline;
}
